<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div><a class="navbar-brand" href="#">Celery</a> </div>

  <div *ngIf="authService.isLoggedIn"  class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" routerLink="/subs">Subscriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Leads</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button (click)= "authService.SignOut()" class="btn btn-outline-success my-2 my-sm-0" type="submit">LogOut</button>
    </form>
  </div>


</nav>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CELERY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="authService.isLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/subs">Subscriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts">Contacts</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button (click)= "authService.SignOut()" class="btn btn-outline-success my-2 my-sm-0" type="submit">LogOut</button>
    </form>
  </div>
</nav>
