
<div class="row" style="padding:20px">
  <div class="col-md-3" style="padding:10px">
    <form>
      <div class="form-group">
        <label for="listFilter">Filter By</label>
        <input type="text" [(ngModel)]= "listFilter" class="form-control" name="listFilter" id="listFilter" aria-describedby="emailHelp" placeholder="Enter Search text">
        <small id="emailHelp" class="form-text text-muted">Enter a text to search by status</small>
      </div>

    </form>
  </div>

  <div class="col-md-3" style="padding:10px">
    <form>
      <div class="form-group">
        <label for="listNFilter">Filter By</label>
        <input type="text" [(ngModel)]= "listNFilter" class="form-control" name="listNFilter" id="listNFilter" aria-describedby="emailNHelp" placeholder="Enter Search text">
        <small id="emailNHelp" class="form-text text-muted">Enter a text to search by email</small>
      </div>

    </form>
  </div>
</div>
<ngx-spinner></ngx-spinner>
<div *ngIf = "ehospl" style="font-size: 12px">
  <div> Subscriber's List</div>
  <table class="table table-bordered, table-responsive ">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Status</th>
      <th>Plan Type</th>
      <th>Billing Expires</th>
      <th>Next billing</th>
      <th>Subscription start date </th>
      <th>Billing Interval</th>
      <th>Start date </th>
    </tr>
    </thead>
    <tbody  *ngFor="let pat of filteredList | keyvalue">
    <tr>
      <th> {{ pat?.value.subscription.id }} </th>
      <th>  {{ pat?.value.customer.first_name + " " +  pat?.value.customer.last_name}} </th>
      <th>  {{ pat?.value.customer.email }} </th>
      <th>{{ pat?.value.customer.company }}</th>
      <th>{{ pat?.value.subscription.status }}</th>
      <th>{{ pat?.value.subscription.plan_id }}</th>
      <th>  {{ pat?.value.subscription.current_term_end | date: 'dd/MM/yyyy'  }} </th>
      <th> {{pat?.value.subscription.next_billing_at | date: 'dd/MM/yyyy'}}</th>
      <th>{{pat?.value.subscription.current_term_start}}</th>
      <th>{{pat?.value.subscription.billing_period_unit}}</th>
      <th>{{pat?.value.subscription.started_at}}</th>
      <th> <button  (click)= "onSelect(pat.value)" data-toggle="modal" data-target="#exampleModal" color="primary">Details</button></th>
    </tr>

    </tbody>
  </table>
</div>
<!--<div class="container" *ngFor="let pat of filteredList | keyvalue; let i = index">
<p>
  <a style="margin: 5px" class="btn btn-primary" data-toggle="collapse" href="#{{pat.value.customer.first_name + i}}" role="button" aria-expanded="false" [attr.aria-controls]="pat.value.customer.first_name + i">Basic Details</a>
  <a style="margin: 5px" class="btn btn-primary" role="button" data-toggle="collapse" href="#{{pat.value.customer.last_name + i+1}}" aria-expanded="false" [attr.aria-controls]="pat.value.customer.last_name + i+1">Other Details</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
</p>
  <div class="row">
    <div class="collapse multi-collapse" id="{{pat.value.customer.first_name + i}}">
      <div class="card card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Plan Type</th>
            <th>Billing Expires</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>  {{ pat?.value.subscription.id }} </th>
            <th>  {{ pat?.value.customer.first_name + " " +  pat?.value.customer.last_name}} </th>
            <th>  {{ pat?.value.customer.email }} </th>
            <th>{{ pat?.value.customer.company }}</th>
            <th>{{ pat?.value.subscription.status }}</th>
            <th>{{ pat?.value.subscription.plan_id }}</th>
            <th>  {{ pat?.value.subscription.current_term_end | date:'H:mm:ss':'GMT'  }} </th>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="collapse multi-collapse" id="{{pat.value.customer.last_name + i+1}}">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>-->


<!--<div class="container" *ngFor="let pat of filteredList | keyvalue; let i = index">
  <a href="#List-{{ i }}" class="btn btn-info" data-toggle="collapse"><h3>Subscription ID: {{ pat?.value.subscription.id }}</h3>| <h3>Name: {{ pat?.value.customer.first_name + " " +  pat?.value.customer.last_name}} </h3> </a>
  <div id="List-{{ i }}" class="collapse">
    <ul style="list-style: none">
      <li><h3>Email:</h3> {{ pat?.value.customer.email }}</li>
      <li><h3>Status:</h3> {{ pat?.value.subscription.plan_id }}</li>
      <li><h3>Subscription Name:</h3> {{ pat?.value.subscription.plan_id }}</li>
      <li><h3>Current Term End:</h3> {{ pat?.value.subscription.current_term_end | date:'H:mm:ss':'GMT'  }} </li>
    </ul>
  </div>
</div>-->
