<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Subscriptions</h5>
        <p class="card-text">View information about subscriptions</p>
        <a href="#" class="btn btn-primary" routerLink="/subs">Subscription</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Leads</h5>
        <p class="card-text">View information about Leads and Leads Deliveries</p>
        <a routerLink="/contacts" class="btn btn-primary">Contacts</a>
      </div>
    </div>
  </div>
</div>
