<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
<div class="col-4">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" #userName aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" #userPassword placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="button" class="btn btn-primary" (click)="authService.SignIn(userName.value, userPassword.value)">Submit</button>
  </form>

  <!-- Calling GoogleAuth Api from AuthService -->
  <div class="formGroup">
    <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
      <i class="fab fa-google-plus-g"></i>
      Log in with Google
    </button>
  </div>

 <!-- <div class="forgotPassword">
    <span routerLink="/forgot-password">Forgot Password?</span>
  </div>

  <div class="redirectToLogin">
    <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
  </div>-->
</div>
  </div>
</div>
