<div class="row" style="padding:20px">
  <div class="col-md-3" style="padding:10px">
    <form>
      <div class="form-group">
        <label for="listFilter">Filter By</label>
        <input type="text" [(ngModel)]= "listFilter" class="form-control" name="listFilter" id="listFilter" aria-describedby="emailHelp" placeholder="Enter Search text">
        <small id="emailHelp" class="form-text text-muted">Enter a text to search by name</small>
      </div>

    </form>
  </div>

  <div class="col-md-3" style="padding:10px">
    <form>
      <div class="form-group">
        <label for="listNFilter">Filter By</label>
        <input type="text" [(ngModel)]= "listNFilter" class="form-control" name="listNFilter" id="listNFilter" aria-describedby="emailNHelp" placeholder="Enter Search text">
        <small id="emailNHelp" class="form-text text-muted">Enter a text to search by email</small>
      </div>

    </form>
  </div>

  <div  class="col-md-3">
    <form #datefilter = "ngForm">
    <div>
      fromDate: <input class="form-control" type="date" name="from_date" id="from_date"  [(ngModel)]="from_date" value="{{ from_date | date: 'dd/MM/yyyy'}">
    </div>
    <div>
      toDate: <input class="form-control" type="date" name="to_date" id="to_date" [(ngModel)]="to_date" value="{{ from_date | date: 'dd/MM/yyyy'}">
    </div>
      <button type="button" class="btn btn-primary" (click)="filterByDate(datefilter.value)">Filter</button>
    </form>


  </div>
  <div class="col-md-3">
  <div style="margin-left: 10px">
    <button  data-toggle="modal" data-target="#exampleModal" class="btn btn-primary float-right">Create Contact</button>
    <div class="form-group">
      <label for="appstatus">Sort BY</label>
      <select class="form-control" id="appstatus" name="appstatus" (change)="onChange($event.target.value)" [(ngModel)] = "appStatus">
        <option>Name</option>
        <option>Email</option>
        <option>Created At</option>
        <option>Phone</option>
      </select>
    </div>
  </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
<div *ngIf = "ehospl" style="font-size: 12px">
  <div> Subscriber's List</div>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>PHONE</th>
      <th>ORGNAME</th>
      <th>SENTCONTENT</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody  *ngFor="let pat of filteredList | keyvalue">
    <tr>
      <td> {{ pat?.value.id }} </td>
      <td>  {{ pat?.value.firstName + " " +  pat?.value.lastName}} </td>
      <td>  {{ pat?.value.email }} </td>
      <td>{{ pat?.value.phone}}</td>
      <td>{{ pat?.value.orgname }}</td>
      <td>{{ pat?.value.sentcnt }}</td>
      <td>  {{ pat?.value.created_timestamp | date: 'dd/MM/yyyy'  }} </td>
      <td> {{pat?.value.updated_timestamp | date: 'dd/MM/yyyy'}}</td>
      <td colspan="3">
        <button  (click)= "onSelect(pat.value)" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Details</button>
        <button  (click)= "onSelect(pat.value)" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Notes</button>
        <button  (click)= "onSelect(pat.value)" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Tasks</button>
      </td>

    </tr>

    </tbody>
  </table>
</div>

<div>
  <button type="button" [disabled]="!isAactive" class="btn btn-primary" (click)="getNextPage(this.currentOffset - this.currentLimit)">Back</button>
  <button type="button" class="btn btn-secondary" (click)="getNextPage(this.currentLimit + this.currentOffset)">Next</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #newContact = "ngForm">
          <div class="form-group">
            <label for="id">Application ID</label>
            <input type="text" id="id" readonly class="form-control"  name="id" [(ngModel)]="id">
          </div>

          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="name" id="firstName" class="form-control"  name="firstName" [(ngModel)]="firstName">
          </div>
          <div class="form-group">
            <label for="firstName">Last Name</label>
            <input type="name" id="lastName" class="form-control"  name="lasttName" [(ngModel)]="lastName">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="name" id="phone" class="form-control"  name="phone" [(ngModel)]="phone">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="name" id="email" class="form-control"  name="email" [(ngModel)]="email">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveOrUpdate(newContact.value)">Save changes</button>
      </div>
    </div>
  </div>
</div>
